body {
    background-color: rgb(150, 105, 64);
}
h1 {
    font-family: monospace;
    font-weight: bold;
    color: white;
}
#canvas {
    background-color: white;
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}
.pixel {
    flex: 1 1 0px;
}